{% extends "base.html" %}
{% block content %}
<main>
<div class="title"><br>
<h1>Locales Registrados</h1>

</div><br><br><br>
{% if object_list  %}

<div class="row">

{% for local in object_list %}
<div class="card" id="card">
        {% if local.imagenLocal %}
        <img src="{{ local.imagenLocal.url }}" class="card-img-top" style="width: 286px; height: 180px;" alt="Card image cap"/>
        {% else %}
            <img src="/media/nofoto.jpg" style="width: 286px; height: 180px;"/>
        {% endif %}

      <div class="card-body">
        <h5 class="card-title"><strong>{{local.nombreLocal}}</strong></h5>

          <p class="card-text">Comuna: {{ local.comuna }}</p>

          <p class="card-text">Tipo Local: {{ local.tipo_Local }}</p>
          <a href="{% url 'localdetalle' local.id %}" class="btn btn-primary">Ver más</a>
      </div>

</div>
{% endfor %}
</div>
{% else %}
    <h1>No se encontraron registros de Locales</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}

<ul class="pagination">
    <li class="page-item">
        {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    </li>
    <li class="page-item">
        {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </li>
</ul>
</main>
{% endblock %}