{% extends "base.html" %}
{% block content %}
        <form id="login" method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="username">Nombre de Usuario:</label>
                        <input class="form-control" type="text" name="username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="username">Contraseña:</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Login"/>
                    </div>
                </div>
            </div>
            <br>
            <p> ¿Aun no tienes una cuenta? </p>
            <a href={% url 'registrar' %}, class="btn btn-primary ">Registrate</a>
        </form>
{% endblock %}
