{% extends "base.html" %}
{% block content %}
<div class="perfil">
<h1>Perfil Banda</h1>
<div >
    <h3>Bienvenido a tu perfil de banda</h3>
    <table class ="table table-borderer">
        {% if object_list %}

        <thead>
            <tr>
                <td>Id Usuario</td>
                <td>Nombre</td>
                <td>Comuna</td>
                <td>Estilo</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
        {% for banda in object_list %}
            <tr>
                <td>{{ banda.id }}</td>
                <td>{{ banda.nombreBanda }}</td>
                <td>{{ banda.comuna }}</td>
                <td>{% for estilo in banda.estilo.all %}{{ estilo }}&nbsp;{% endfor %}</td>
                <td><a class="btn btn-primary" href="{% url 'editarBanda' banda.id %}">Editar</a></td>
                <td><a class="btn btn-primary" href="{% url 'eliminarBanda' banda.id %}">Eliminar</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <p>No hay Perfiles de Banda registrados</p>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'formularioBanda' %}" class="btn btn-success btn-lg" >Crear Banda</a>

</div>
</div>
{% endblock %}